/* ----------------- */
/* base */
/* ----------------- */
:root {
  --bsky-primary-color: rgb(29, 78, 216);
  --bsky-primary-hover-color: #2563eb;
}

.bsky-user-content-wrapper {
  font-family: "TwitterChirp",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;;
}

.bsky-user-content-wrapper .match-type {
  color: var(--bsky-primary-color);
  padding: 2px 14px 2px 14px;
  font-size: 12px;
  font-weight: bold;
  width: fit-content;
  display: flex;
  gap: 4px;
  border-radius: 10px 10px 0px 0px;
}

.bsky-user-content-wrapper .match-type.match-type__handle {
  background-color: #ffd700;
}

.bsky-user-content-wrapper .match-type.match-type__display-name {
  background-color: #FFA07A;
}

.bsky-user-content-wrapper .match-type.match-type__description {
  background-color: #D3D3D3;
}

.bsky-user-content {
  background: rgb(2,0,36);
  background: var(--bsky-primary-color);
  color: #fff;
  display: flex;
  gap: 15px;
  padding: 12px 16px;
}
.bsky-user-content p {
  margin: 0;
}

/* ----------------- */
/* icon */
/* ----------------- */
.bsky-user-content .icon-section {
  display: grid;
  place-content: center;
}
.bsky-user-content .icon-section a{
  text-decoration: none;
  width: 40px;
}
.bsky-user-content .icon-section img {
  border-radius: 50%;
}
.bsky-user-content .icon-section .no-avatar {
  width: 40px;
  height: 40px;
  background: #ccc;
  border-radius: 50%;
}

/* ----------------- */
/* card content */
/* ----------------- */
.bsky-user-content .content {
  width: 100%;
}
.bsky-user-content .content .display-name a {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
.bsky-user-content .content .handle {
  font-size: 14px;
  color: #ccc;
}
.bsky-user-content .content .description {
  margin-top: 5px;
  font-size: 14px;
  word-break: break-all;
}
.name-and-controller {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.name-and-controller .action-button {
  border: 1px solid #fff;
  padding: 6px 30px;
  font-size: 14px;
  border: 1px solid #fff;
  background: #fff;
  color: var(--bsky-primary-color);
  border-radius: 27px;
  cursor: pointer;
}

.name-and-controller .action-button__being {
  background: transparent;
  color: #fff;
  cursor: pointer;
}

.name-and-controller .action-button__being:hover {
  background: rgba(255, 0, 0, 0.1);
  color: red;
  border: 1px solid red;
  cursor: pointer;
}

.name-and-controller .action-button__being.action-button__just-applied:hover {
  background: transparent !important;
  color: #fff !important;
  border: 1px solid #fff !important;
  cursor: pointer;
}

.name-and-controller .action-button__processing {
  background: rgb(255,255,255, 0.3) !important;
  color: #fff !important;
  border: 1px solid #fff !important;
  cursor: auto;
}

/* ----------------- */
/* not found card */
/* ----------------- */
.bsky-user-content__not-found {
  font-family: "TwitterChirp",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;;
  padding: 4px 16px;
  background: #333;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.bsky-user-content__not-found svg {
  width: 16px;
}

/* ----------------- */
/* reload btn */
/* ----------------- */
.bsky-reload-btn-wrapper {
  padding: 24px 0;
  text-align: center;
}

.bsky-reload-btn {
  padding: 8px 16px;
  width: 280px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: var(--bsky-primary-color);
  color: #fff;
  top: 60px;
  cursor: pointer;
  animation: btnwrapanime 1.5s infinite;
  box-shadow: 0 0 0 0 rgb(0, 53, 188);
}

.bsky-reload-btn:hover {
  animation: none;
  background-color: var(--bsky-primary-hover-color);
}

.bsky-reload-btn__processing {
  background-color: var(--bsky-primary-hover-color);
  animation: none;
  cursor: auto;
}

@keyframes btnwrapanime {
  70% {
      box-shadow: 0 0 0 20px rgba(233, 30, 99, 0);
  }

  100% {
      box-shadow: 0 0 0 0 rgba(233, 30, 99, 0);
  }
}
